* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
}

.country {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.country-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: orange;
  color: white;
  border-radius: 50%;
}

.country-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.country-button:hover {
  opacity: 0.8;
}

.country-increase,
.country-decrease {
  color: rgb(24, 113, 139);
}

.country-delete {
  color: rgb(165, 33, 33);
}
